
:root {
    --primary-color: #e9eaed;
    --notifica-info: #99dafd
}


.sfondo {
    height: 100vh;
    background-image:
    linear-gradient(to bottom,
    #009688 0px,
    #009688 15vh,
    #dddbd1 15vh,
    #d2dbdc 100%) ;
}

.grey_bg{
    background-color: var(--primary-color);
}

.img_user{
    width: 60px;
}

.text_notifica{
    color: var(--notifica-info);
}

.bg_notifica {
    background-color: var(--notifica-info);
}

.light_text {
    font-size: 0.8em;
    color: #b9b9ba;
}

.active_chat{
    background-color: #dedede;
}

.sfondo_chats {
    background-image: url(./img/mine.jpg);
    background-repeat: repeat;
}

.sent {
    background-color: #d8f8bf;
}

.drop_btn {
    padding-left: 5px;
}

.dropdown_content {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown_content li {
    word-wrap: break-word;
    list-style-type: none;
    font-size: 0.8em;
  }